body {
  background: #2b2b2b;
  color: white;
}

p {color: #b2b2b2;
}

nav a {
  color: lightgray;
}

h1 {
  color: beige;
  font-size: 24px;
}

a.active {
  color: red;
  font-size: 32px;
}

img {
  height: 250px;
}

#centerbillede {
  text-align: center;
}

